<h1>Listas</h1>
    <form action="">
        <div class="form-group">
            <label for="">Busqueda</label>
            <input value="term" name="term" [(ngModel)]="term" type="text" class="form-control">
            {{ term }}
        </div>
    </form>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><i class="fa fa-user fa-2x" aria-hidden="true"></i> Avatar</th>
                <th><i class="fa fa-user fa-2x" aria-hidden="true"></i> Nombre</th>
                <th><i class="fa fa-phone fa-2x" aria-hidden="true"></i> Telefono</th>
                <th><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> Ciudad</th>
                <th><i class="fa fa-home fa-2x" aria-hidden="true"></i>CP</th>
                <th><i class="fa fa-money fa-2x" aria-hidden="true"></i>Compras</th>
                <th><i class="fa fa-cog fa-2x" aria-hidden="true"></i> ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes | filter:term | sort:'DESC'">
                <td>
                    <img 
                        style="width: 100px; height:100px;" 
                        [src]="cliente.avatar" 
                        alt="{{ cliente.nombre }}">
                </td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.ciudad }}</td>
                <td>{{ cliente.cp }}</td>   
                <td>
                    <div *ngIf="cliente.compras; else noCompras">
                            <ul>
                                <li *ngFor="let compras of cliente.compras"> 
                                    {{ compras }}
                                </li>
                            </ul>
                    </div>
                    <ng-template #noCompras> No hay compras </ng-template>    
                </td> 
                <td>
                    <button class="btn btn-info" (click)="info(cliente)"> DETALLES </button>
                    <button class="btn btn-danger" (click)="eliminar(cliente)"> ELIMINAR </button>        
                </td>
            </tr>
        </tbody>
    </table>

     <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <ul>
                <li *ngFor="let numero of numeros; let i = index; let par = even">
                  <strong>{{ i + 1 }}</strong> - {{ numero }}  es par:  {{ par }}
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
             <ul>
                <li *ngFor="let cadena of cadenas; let i = index; let impar = odd">
                    {{ i + 1 }} - <strong>{{ cadena }}</strong> es impar:  {{ impar }}
                </li> 
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
             <ul>
                <li *ngFor="let distinto of distintos; let i = index; let fst = first">
                    {{ i + 1 }} - <strong>{{ distinto }}</strong> --- es el primero? {{ fst }}
                </li> 
            </ul>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li><a (click)="opcion = 1"> FAMILIA </a></li>
        <li><a (click)="opcion = 2"> AMIGOS</a></li>
    </ul>
    <div class="row" [ngSwitch]="opcion">
        <div class="col-sm-6" *ngSwitchCase="1">
             <ul>
                <li *ngFor="let _familia of familia; let i = index">
                    {{ i + 1 }} - <strong>{{ _familia }}</strong>
                </li> 
            </ul>
        </div>
        <div class="col-sm-6" *ngSwitchCase="2">
             <ul>
                <li *ngFor="let amigo of amigos; let i = index">
                    {{ i + 1 }} - <strong>{{ amigo }}</strong>
                </li> 
            </ul>
        </div>
        <div *ngSwitchDefault> DEFAULT</div>
    </div>
     <div [ngStyle]="{ 'color': 'black','background-color': fondo, 'width.px': 500, 'padding.em': 3}">
        <h1 [ngStyle]="{ 'font-size': tamFuente }">
            Typescript
        </h1>
    </div>
    <h2>Marcar Como Favorito</h2>
        <span>
            <i class="glyphicon glyphicon-star"
               [ngStyle]= "estilosFav"
               (click)= "marcaFavorito()"         
                ></i>
        </span>